/* 引入字体 */
@font-face {
    font-family: "LXGW WenKai";
    src: url("https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.1.0/fonts/LXGWWenKai-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.1.0/fonts/LXGWWenKai-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* 设置正文字体 */
body, .md-content, .md-typeset {
    font-family: "LXGW WenKai", sans-serif !important;
}

/* 设置代码字体 */
code, pre {
    font-family: "LXGW WenKai Mono", monospace !important;
}